*{
    margin: 0%;
    padding: 0%;
}
.in{
    padding: auto;
    display: inline;
    border-width: 2px;
    box-sizing: border-box;
    justify-items: flex-end;
}
.head{
 font-style: normal;
 display: left;
 
}


